body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url('/0fa312e5ca0465a866c90842d4f931ad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* This centers only the container, NOT the footer */
.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;   /* container starts at top, not middle */
    padding-top: 40px;         /* give some breathing space */
}
/* NAVBAR */
.nav {
    width: 100%;
    height: 60px;
    background: #0b6b3a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Left part: logo + title */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-title {
    font-size: 30px;
    font-weight: bold;
}

/* Menu button */
.nav-menu-btn {
    font-size: 38px;
    cursor: pointer;
}

/* SIDE MENU */
.side-menu {
    width: 220px;
    height: 100%;
    background: #145c39;
    position: fixed;
    top: 0;
    right: -250px;
    transition: 0.3s ease;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.side-menu a {
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.side-menu a:hover {
    background: rgba(0,0,0,0.2);
}

/* Move your content down a bit */
.page {
    padding-top: 80px;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.title {
    text-align: center;
    color: #2d6a4f;
    font-size: 28px;
    margin-bottom: -5px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    width: 100%;
    background: #2d6a4f;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background: #f1fff1;
    border-radius: 10px;
    border-left: 5px solid #2d6a4f;
    display: none;
}

.footer {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background: #0b6b3a;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}
